.media{
    border-radius: 20px;
    object-fit: cover;
    width: 100%;
    max-height: 600px,
}
.loadingPaper{
    display: flex; 
    justify-content: center; 
    align-items: center;
    padding: 20px; 
    border-radius: 15px; 
    height: 39vh;
}